<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    
    <!-- BEGIN AAD SITE AUTH CONFIG: These config values are not required to be set explicitly when using the Azure Websites Easy Auth feature -->
    
    <!-- AAD Microsoft (Organizational) Tenant -->
    <!--<add key="WEBSITE_AUTH_CLIENT_ID" value="fe322c4b-a30f-4a73-b2a5-6dc930f68d52"/>
    <add key="WEBSITE_AUTH_LOGOUT_PATH" value="/fe322c4b-a30f-4a73-b2a5-6dc930f68d52/logout"/>
    <add key="WEBSITE_AUTH_OPENID_ISSUER" value="https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/"/>-->
    
    <!-- AAD Live.com (MSA) Tenant (joe@cgillumlive.onmicrosoft.com)-->
    <!--<add key="WEBSITE_AUTH_CLIENT_ID" value="4ff0ac32-9f0f-47d2-a313-842ed9b10c87"/>
    <add key="WEBSITE_AUTH_LOGOUT_PATH" value="/4ff0ac32-9f0f-47d2-a313-842ed9b10c87/logout"/>
    <add key="WEBSITE_AUTH_OPENID_ISSUER" value="https://sts.windows.net/a57ac148-6126-45fb-9825-19d76fef90d7/"/>-->

    <!-- AAD PPE Live.com (MSA) Tenant -->
    <!--<add key="WEBSITE_AUTH_CLIENT_ID" value="00922017-3f0f-4d1d-b8a9-ec6f0df4101b"/>-->
    <!--<add key="WEBSITE_AUTH_LOGOUT_PATH" value="/00922017-3f0f-4d1d-b8a9-ec6f0df4101b/logout"/>-->
    <!--<add key="WEBSITE_AUTH_OPENID_ISSUER" value="https://sts.windows-ppe.net/de371010-e80c-4257-8fdc-4bfa4d6efe08/"/>-->
    
    <!-- IdentityServer Tenant (alice) -->

    <!-- Google Tenant (cgillum@gmail.com) -->
    <!--<add key="WEBSITE_AUTH_CLIENT_ID" value="490040531929-b1q5sfi9jogp344369d706vdh97km7gp.apps.googleusercontent.com"/>
    <add key="WEBSITE_AUTH_LOGOUT_PATH" value="/490040531929-b1q5sfi9jogp344369d706vdh97km7gp.apps.googleusercontent.com/logout"/>
    <add key="WEBSITE_AUTH_OPENID_ISSUER" value="accounts.google.com"/>-->

    <!-- Optional setting which outputs trace information to all trace listeners -->
    <add key="WEBSITE_AUTH_TRACE_LEVEL" value="Verbose"/>

    <!-- This should only ever be set to false if problems are encountered with the nonce validation -->
    <!--<add key="WEBSITE_AUTH_VALIDATE_NONCE" value="true"/>-->
    <!--<add key="WEBSITE_AUTH_NONCE_THROTTLE_WATERMARK" value="100"/>-->

    <!-- This can be used to point to a non-production AAD -->
    <!--<add key="WEBSITE_AUTH_CONFIGURL" value="https://login.windows.net/common/.well-known/openid-configuration"/>-->
    <!--<add key="WEBSITE_AUTH_CONFIGURL" value="https://login.windows-ppe.net/common/.well-known/openid-configuration"/>-->
    
    <!-- END AAD SITE AUTH CONFIG-->

    <!-- For whatever reason, ASP.NET tries to auto-enable simple membership which causes SQL errors -->
    <add key="enableSimpleMembership" value="false" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
    <pages validateRequest="true"/>
  </system.web>
  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="myListener" type="System.Diagnostics.EventLogTraceListener" initializeData=".NET Runtime">
        </add>
      </listeners>
    </trace>
  </system.diagnostics>

  <system.webServer>
  </system.webServer>
</configuration>